.carouselSection{
    position: relative;
    margin-bottom: 70px;
    & > .ContentWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .carouselTitle{
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
}